# Dependencies
node_modules
.pnp
.pnp.js

apps/backend/node_modules
apps/frontend/node_modules

apps/backend/.env
apps/frontend/.env

# Build outputs
dist
build
.next
out

# Turbo
.turbo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
*.tsbuildinfo
